@media only screen and (min-width: 0px) and (max-width: 1200px) {



}

@media only screen and (min-width: 0px) and (max-width: 1150px) {

  #box_product1{text-align: center;}

}

@media only screen and (min-width: 0) and (max-width: 1024px) {

  #img_page{margin:0 auto;}

  .content1 { padding:1%;}

  .content1 p {padding:10px;}

  ul.list_product{display: none;}

  #selectProduct{display: block;}

  #cont_address div {padding:30px 5%;}

  #cont_inquiry{padding: 10px 5%; }

  #gmaps{height: 175px;}

}

@media only screen and (min-width:0px) and (max-width:960px){     

  #head-left, #head-right {width: 100%;padding:0;text-align: center;}  

  #pg-menu nav ul {text-align: center;}



}

@media only screen and (min-width:0px) and (max-width:768px){     

  #pg-menu, #foot_menu{display: none;}

  .toggle-nav{display:block;}

  #blok_bulet{ max-width: 380px; } 

}

@media only screen and (min-width:0px) and (max-width:480px){  

  ul.tugel li {width:100%;padding:5px 0;}

  .toggle-nav{top:20px;}

  #head-logo{height: 25px;}

  #head-left{padding:5px 20px;}

  #head-left span{font-size:14pt;}

  #footer{padding:10px 0;}

  #copyright{font-size: 12px;}

}